.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
body {
  background-color: whitesmoke;
  color: crimson;
  display: flex;
  justify-content: center;
}
.navbar {
  font-size: larger;
  text-align: right;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  color: whitesmoke;
  background-color: crimson;
  padding: 1.9rem;
}
.nav {
  text-decoration: none;
  color: whitesmoke;
  margin: 5px;
}
.nav:hover {
  border-bottom: 2px solid whitesmoke;
  transition: 0.2s;
}

.addToCartBtn {
  padding: 7px;
  border-radius: 0.35rem;
  background-color: crimson;
  color: whitesmoke;
}
.addToCartBtn:active {
  padding: 5.5px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin-top: 30px;
  margin: 0.5rem;
  border: 2px solid whitesmoke;
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
li:hover {
  transition: 0.2ms;
  box-shadow: 0px 9px 30px rgba(87, 77, 62, 0.3);
}

.input-type {
  border-color: crimson;
  border-radius: 1rem;
  padding: 3px;
}
